.wrap-vddaftar-klien .btn-delete {
    color: #cc3d3d;
}

@media (min-width: 480px) {
    .keloladaftar-klien #col-left {
        float: left;
        width: 30%;
    }
    .keloladaftar-klien #col-right {
        float: right;
        width: 70%;
    }
    .wrap-vddaftar-klien .widget-liquid-left {
        margin: 0;
        width: 48%;
        float: left;
    }
    .wrap-vddaftar-klien .widget-liquid-right {
        float: right;
        width: 49%;
    }
}